$dark-blue: rgb(3,37,65);
$green: #3cc28a;
$green-light: #79bda1;
$orange: #fb4b16;
$orange-light: #f69f84;
$blue: rgb(38, 111, 171);
$white: #fff;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}