$dark-blue: rgb(3,37,65);
$green: #3cc28a;
$green-light: #95d4ba;
$orange: #ef3e09;
$orange-light: #f5a58c;
$blue: rgb(38, 111, 171);
$white: #fff;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}